.admin-bar .main-header.fixed-header .sticky-header{
	top:32px !important;	
}

.elementor-section .elementor-column-gap-default > .elementor-column > .elementor-element-populated{
	padding:0px;
}

/********* Pagination Style *************/
.pagination,
.paginate-links{
	position:relative;
}
.pagination li a,
.pagination li > span,
.paginate-links a,
.paginate-links > span {
	position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #111111;
    border-radius: 50%;
    z-index: 1;
    transition: all 500ms ease;
	font-family: var(--text-font);	
}

.pagination li a:hover, 
.pagination li.active a,
.pagination li > span.current,
.paginate-links a:hover,
.paginate-links > span {
    background-color: #37aa67;
    color: #ffffff;
}


/***************** Blog Sidebar Style*******************/
.widget{
	position: relative;
}

.widget ul,
.widget ol{
	position:relative;
	display: block;
	margin: 0;
	padding: 0;
}

.widget ul li,
.widget ol li{
	position: relative;
    display: block;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 16px;
    line-height: 26px;
    color: #111111;	
    font-weight: 400;
	font-family: var(--text-font);
}

.widget ul li:last-child,
.widget ol li:last-child{
	border-bottom:none;
	padding-bottom:0px;
	margin-bottom: 0px;
}

.widget ul li ul li,
.widget ol li ul li{
	border-bottom:none;
	padding-bottom:0px;
	margin-bottom: 0px;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 15px;
	border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.widget ul li a,
.widget ol li a{
	position: relative;
	display:inline-block;
	font-size: 16px;
    line-height: 26px;
    color: #111111;	
    font-weight: 400;
	font-family: var(--text-font);
}

.widget ul li a:hover,
.widget ol li a:hover{
	color: #37aa67;
}

/******** Tags ************/
/******** Tags ************/
/******** Tags ************/
.widget .tagcloud{
	position: relative;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
}
.widget .tagcloud a{	
	position: relative;
    display: inline-flex;
	justify-content: center;
	align-items: center;	
    font-size: 16px !important;
	line-height: 26px;
    font-family: var(--title-font);
    color: #6a6a6a;
    border: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.10);
    border-radius: 55px;
    padding: 3px 14px;
}
.widget .tagcloud a:hover{
	color: #ffffff;
    border-color: #37aa67;
    background-color: #37aa67;
}

/***************** Service Sidebar Style*******************/
.service-sidebar-widget {
	position: relative;
}
.service-sidebar-widget ul{
	position: relative;
    display: block;
}
.service-sidebar-widget ul li{
	position: relative;
    display: block;
}
.service-sidebar-widget ul li:before{	
	position: absolute;
    content: '\e92a';
    font-family: 'icomoon' !important;
    left: 0px;
    top: 17px;
    font-size: 10px;
    transition: all 500ms;
	color: #111111;	
}

.service-sidebar-widget ul li a{
	position: relative;
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    padding: 17px 30px 17px 32px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(229, 229, 229, 1);	
    font-weight: 400;
}
.service-sidebar-widget ul li a:last-child{
	border-bottom: none;
}
.service-sidebar-widget ul li a:after{
	position: absolute;
    content: '\e92a';
    font-family: 'icomoon' !important;
    color: #fff;
    right: 25px;
    top: 17px;
    font-size: 10px;
    opacity: 0;
    transition: all 500ms;
	font-weight: 400;
    display: inline-block;    
}
.service-sidebar-widget ul li:hover:before,
.service-sidebar-widget ul li.current-menu-item:before{
	opacity: 0;
}
.service-sidebar-widget ul li:hover a:after,
.service-sidebar-widget ul li.current-menu-item a:after{
	opacity: 1;
}
.service-sidebar-widget ul li:hover a,
.service-sidebar-widget ul li.current-menu-item a{
	color: #fff;
    padding-left: 20px;
    border-radius: 10px;
	background: #37aa67 !important;
}
.service-sidebar-widget .download-widget ul li:before,
.service-sidebar-widget .download-widget ul li a:after{
	display: none;
}
.service-sidebar-widget.sidebar-widget.widget_labout_support_box{
	box-shadow: none;
    border-radius: 0px;
    padding: 0px;
}
.service-sidebar .download-widget .download-list li a span{
	background: #37aa67 !important;
}

/***************** Footer Widget Style*******************/
.footer-widget{
	position:relative;
	margin-bottom: 40px;
}
.footer-widget ul,
.footer-widget ol{
	position:relative;
}
.footer-widget ul li,
.footer-widget ol li{
	position: relative;
    display: block;
    font-size: 16px;
    line-height: 26px;
	margin-bottom: 10px;
    font-weight: 500;
    color: #ffffff;
	padding-left: 15px;
}
.footer-widget ul li:last-child,
.footer-widget ol li:last-child{
	margin-bottom:0px;
	
}
.footer-widget ul li ul li,
.footer-widget ol li ul li{
	margin-bottom:0px;
	margin-top: 10px;
}

.footer-widget ul li:before,
.footer-widget ol li:before{
	position: absolute;
    content: '';
    background: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0px;
    top: 12px;
}
.footer-widget ul li ul li,
.footer-widget ol li ol li{
	margin-top:10px;
}
.footer-widget ul li a,
.footer-widget ol li a{
	display: inline-block;
    color: #ffffff;
}
.footer-widget ul li a:hover,
.footer-widget ol li a:hover{
    color: #37aa67;
}
.main-footer .widget-section .about-widget ul li:before{
	display: none;
}
.main-footer .widget-section .about-widget ul li a{
	padding-left: 0px;
}
.main-footer .widget-section .newsletter-widget .newsletter-form .form-group .icon{
	display: none;
}
.main-footer .widget-section .newsletter-widget .newsletter-form .form-group{
	padding-right: 0px;
}
.main-footer .widget-section .newsletter-widget .newsletter-form .form-group .theme-btn {
    position: absolute;
    top: 10px;
    right: 0px;
    left: 0px;
    padding: 10px 25px;
}
.main-footer .footer-top .top-inner .footer-menu .navigation {
    position: relative;
    display: flex;
    align-items: center;
}
/************ custom style *********************/
.news-block-two .inner-box.labout-archive-page{
	display:block;
	box-shadow: none;
	padding: 0;
	overflow: visible;
	margin-bottom: 50px;
}
.news-block-two .inner-box.labout-archive-page .content-box{
	max-width: none;
    padding: 30px;
	box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
}
.news-block-one .inner-box .category a,
.news-block-one .inner-box .category a:hover,
.news-block-two .inner-box .content-box .category a,
.blog-details-content .post-info li span a,
.blog-details-content .post-info li span a:hover,
.news-block-two .inner-box .content-box .category a:hover{
	color: #37aa67;
}
.journey-section .owl-nav button {
    background: rgba(255, 255, 255, 0.10) !important;
    color: #fff !important;
}
.journey-section .slider-content .owl-nav button:hover {
    color: #111111 !important;
}
.mt_55 {
    margin-top: 55px !important;
}
.mb_30 {
    margin-bottom: 30px !important;
}
.mt_15 {
    margin-top: 15px !important;
}
#tribe-events-pg-template {
    max-width: 100% !important;
    padding: 0px;
    margin: 0;
}
.event-details-content .tribe-common .tribe-common-c-btn-border{
	border: 1px solid #37aa67;
    color: #37aa67;
}
.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover,
.tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover{
	background-color: #37aa67;
	color: #ffffff;
}
.widget.sidebar-widget .gallery-widget .widget-content ul li{
    border-width: 0px;
    padding: 0px;
}
.widget.sidebar-widget:last-child{
	margin-bottom: 0px;
}
.page-title .bread-crumb li{
	position:relative;
	padding-right:15px;	
}
.page-title .bread-crumb li:before{
	Content: "-";
	position:absolute;
	right:0px;
	top:0px;
	font-size:18px;
	color:#fff;
}
.page-title .bread-crumb li:last-child:before{
	display:none;	
}
/*** 

====================================================================
			Comment Style
====================================================================

***/
.blog-details-content .comment-box .labout-comment-item .comment{
    position: relative;
    display: block;
    padding-left: 110px;
    margin-bottom: 27px;
}
.blog-details-content .comment-box .comment-inner > .labout-comment-item:last-child .comment{
    margin-bottom: 0px;
}
.blog-details-content .comment-box .comment .thumb-box{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 80px;
}  
.blog-details-content .comment-box .comment .thumb-box img{
    width: 100%;
}  
.blog-details-content .comment-box .comment h4.c-title{
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 36px;
    color: #062a26;
    font-weight: 600;    
    margin-bottom: 8px;
}  
.blog-details-content .comment-box .comment h4 span{
    font-size: 15px;
    color: #00c486;
    font-weight: 400;
}    
.blog-details-content .comment-box .comment .reply-btn{
    position: relative;
    display: inline-block;    
    font-size: 17px;
    line-height: 26px;
    color: #062a26;
    font-weight: 600;
    transition: all .5s;
	margin-top: 15px;
}  
.blog-details-content .comment-box .comment .reply-btn:hover{
    color: #00c486;
}
.blog-details-content  small a{
	position: relative;
	display: inline-block;
	font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.05em;
	text-transform: capitalize;
	font-family: var(--title-font);
	color: #101A30;
	margin-bottom:0px;
}
.blog-details-content .labout-comment-item small a:hover,
.blog-details-content .comment-form-box .logged-in-as p a,
.blog-details-content .labout-comment-item small a:hover,
.blog-details-content .comment-form-box .logged-in-as a{
	color: #37aa67;
}
.blog-details-content .comment-form-box .logged-in-as{
	margin-bottom:8px;
}
.blog-details-content .comment{
	margin-bottom: 20px;
}
.labout-comment-item .labout-comment-item{
	margin-left:80px;
	margin-bottom:27px;	
}
.blog-details-content .labout-comment-item .comment-form-box{
	margin-top:30px;
	margin-bottom:50px;	
}
.blog-details-content .comment-form-box{
	margin-top:80px;
}
.history-section .inner-box:last-child{
	margin-bottom: 0px !important;
}


/*** 
===============================
    Single Case Studies     
===============================
***/
.single-case-studies {
    position: relative;
    padding: 120px 0px 210px 0px;
}

.single-case-studies__sidebar {
    position: relative;
    display: block;
    margin-right: 30px;
}

.single-case-studies__sidebar .project-info {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 6px;
    background-color: var(--thm-gray-bg);
    padding: 33px 40px 40px;
}

.single-case-studies__sidebar .project-info .title {
    position: relative;
    display: block;
    border-bottom: 1px solid #cad8d4;
    padding-bottom: 11px;
}

.single-case-studies__sidebar .project-info .title h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
}

.single-case-studies__sidebar .project-info ul {
    position: relative;
    display: block;
    padding-top: 33px;
}

.single-case-studies__sidebar .project-info ul li {
    position: relative;
    display: block;
}

.single-case-studies__sidebar .project-info ul li+li {
    margin-top: 19px;
}

.single-case-studies__sidebar .project-info ul li p {
    margin: 0;
}

.single-case-studies__sidebar .project-info ul li h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 5px;
}

.single-case-studies__sidebar .project-info .btn-box {
    position: relative;
    display: block;
    line-height: 0;
    padding-top: 32px;
}

.news-block-two .inner-box.labout-archive-page .content-box .category{
	display: flex;
	gap: 15px;
	margin-bottom: 10px;
}

.thm-unit-test a{
	color: #37AA67;
}

@media only screen and (max-width: 767px){
	.blog-details-content .comment-box .labout-comment-item .comment{
		padding-left: 0px;
	}
	
	.blog-details-content .comment-box .comment .thumb-box{
		position: relative;
		margin-bottom: 30px;
	}
}

.mh-80{
	min-height: 80px;
}

.widget .wp-block-group{
	margin-bottom: 0;
}

.widget .nice-select,
.footer-widget .nice-select{
	float:none;
	border:1px solid rgba(0, 0, 0, 0.1);
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	font-size: 16px;
	color: var(--text-color);
	border-radius: 5px;
}

.footer-widget .nice-select{
	background-color: #fff;
}

.nice-select::after {
	position: absolute;
	content: '\f078';
	font-family: 'Font Awesome 5 Pro';
	color: #7b7b7b;
	font-size: 13px;
	top: 0px;
	right: 20px;
	bottom: 0;
	margin: 0px;
	font-weight: 400;
	display:flex;
	align-items:center;
}

.widget .nice-select ul.list,
.footer-widget .nice-select ul.list{
	min-width:100%;
	border-radius:0;
}

.widget .nice-select ul li,
.footer-widget .nice-select ul li{
	padding-bottom:0px;
	margin-bottom:0px;
}

.widget .nice-select ul li:before,
.footer-widget .nice-select ul li:before{
	display:none;
}

.footer-widget .nice-select ul li{
	color: #003B5A;
}

.blog-sidebar .widget-title h3 a,
.main-footer .widget-title h3 a{
	color: inherit;
}

.footer-widget .search-widget .search-form .form-group input[type="search"]{
	border-color: #ffffff;
	color: #ffffff;
}

.footer-widget .search-widget .search-form .form-group button[type="submit"]{
	color: #ffffff;
}