@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

@font-face {
    font-family: Ar;
    src: url("../fonts/AM_Thulth_Regular_0.1.ttf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo, sans-serif;
    direction: rtl;
    overflow-x: hidden;
}

.social-media i {
    width: 50px;
    height: 50px;
    background-color: #314c5b;
    border-radius: 50%;
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.social-media {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.social-media .custom {
    position: fixed;
    display: grid;
    bottom: 16px;
    left: -20px;
}

.social-media .custom li {
    list-style: none;
}

.partner img {
    width: 150px;
    height: 150px;
}

.header .hidden {
    transform: translateY(-100%);
}

.header-social {
    position: relative;
    /* يجعل header-social غير ثابت */
    width: 100%;
    background-color: #f8f9fa;
    /* لون الخلفية */
    z-index: 1040;
}

.scrolled .header {
    top: 0;
    /* عند التمرير يصبح أعلى الصفحة */
}

.header {
    position: fixed;
    top: 40px;
    /* بعد ارتفاع header-social */
    left: 0;
    width: 100%;
    z-index: 1030;
    transition: transform 0.3s ease-in-out;
}

.navbar-brand img {
    width: 100%;
    height: 90px;
    border-radius: 50%;
}

.header-social {
    background-color: #314c5b;
    color: #fff !important;
    padding: 10px;
}

.header-social a {
    color: white;
}

.slider {
    margin-top: 100px;
    width: 100%;
    height: 630px;
    position: relative;
    background-image: url('../img/Untitled-22.webp');
    background-size: cover;
}

.header-title {
    width: 100%;
    height: 480px;
    position: relative;
    background-image: url('../img/pannar.jpg');
    background-size: cover;
    margin-top: 100px;
}

.header-title .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.header-title h1 {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.slider .title-doc {
    color: white;
    font-size: large;
    font-weight: bold;
    width: 34%;
    position: absolute;
    left: 0;
    right: 60%;
    top: 30%;
}

.slider .title-doc p {
    font-size: medium;
    line-height: 40px;
}

.slider button {
    padding: 10px 20px;
    background-color: #D8EFF5;
    color: #314c5b;
    font-weight: bold;
    font-size: 22px;
    border: 0;
    border-radius: 10px;
}

.nav-link {
    color: #000000;
    font-size: 16px;
}

.nav-item {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 800;
    color: white;
}

.navbar-nav {
    margin: auto;
}

.box {
    box-shadow: rgb(32 61 43) -4px 0px 44px -34px;
}

.about-us {
    overflow-x: hidden;
    height: 50vh;
}

.about-us p {
    font-size: 25px;
    font-weight: bold;
}

.about-us-page {
    padding: 20px;
    overflow-x: hidden;
    height: 90vh;
}

.about-us-page p {
    font-size: 15px;
    font-weight: bold;
}

.about-us-page li {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

.about-us li {
    margin-bottom: 10px;
    font-weight: bold;
}

.about-us button {
    padding: 10px 20px;
    background-color: #314c5b;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    border: 0;
    border-radius: 10px;
}

.about-us-2 img {
    width: 100%;
}

.about-us-2 h1 {
    margin-top: 50px;
    color: #314c5b;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.about-us-2-page {
    background-image: url("../img/pannar2.jpg");
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    color: white;
}

.about-us-2-page img {
    width: 100%;
}

.about-us-2-page h1 {
    margin-top: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.about-us-2-page button {
    padding: 15px 25px;
    border: 0;
    background-color: #314c5b;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

.position-top {
    margin-top: -126px;
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 20px;
}

.details p {
    line-height: 40px;
    color: black;
}

.details h2 {
    color: #e46b09;
}

.service .swiper {
    height: 100%;
}

.service .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-us-3 button {
    background-color: #314c5b;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
}

.about-us-3 img {
    height: 70vh;
    margin-right: 15%;
    object-fit: cover;
}

.service-2 {
    position: relative;
    color: white;
    padding: 25px;
    background-image: url("../img/back-service.webp");
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.service-2 button {
    background-color: #314c5b;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
}

.div-service {
    padding: 25px;
    background-color: #314c5b;
    border-radius: 5px;
    margin-top: 30px;
}

.div-service i {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 30px;
    display: flex;
    margin: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.div-service p {
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
}

.div-service h2 {
    font-weight: bold;
    font-size: 22px;
}

.service-2 h1 {
    font-size: 27px;
    font-weight: bold;
}

/* .service-2 .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(49, 76, 91, .6);
} */
.form-maintenance {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.form-maintenance textarea {
    width: 100%;
    border: 1px solid #ced4da !important;
    border-radius: 10px;
}

.btn-down {
    border: 1px solid #f15b28;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background-color: #f15b28;
}

.address .info-item {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 26px 30px 9px;
}

.address img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contact-info .form-maintenance {
    box-shadow: rgb(32 61 43) -4px 0px 44px -34px;
}

a {
    text-decoration: none;
    color: black;
}

.info-item h5 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}

.footer i {
    color: #e46b09;
}

.certificate {
    position: relative;
}

.certificate img {
    width: 100%;
    height: 400px;
}

.certificate .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.photo-page {
    position: relative;
}

.photo-page img {
    width: 100%;
    height: 300px;
    border: 5px solid #23b8d5;
    object-fit: cover;
}

.photo-page .photo:hover .overlay {
    visibility: unset;
    transition: all 1s ease-in-out;
}

.photo-page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;

}

.photo-page .overlay h1 {
    font-size: 22px;
}

.service .btn {
    width: 100%;
    background-color: #ed660b;
    color: white;
    border-color: #ed660b;
}

.service .card-title {
    color: #23b8d5;
    font-weight: bold;
}

.blog .btn {
    width: 100%;
    background-color: #ed660b;
    color: white;
    border-color: #ed660b;
}

.blog .card-title {
    font-weight: bold;
    color: #23b8d5;
}

.blogs .btn {
    width: 100%;
    background-color: #ed660b;
    color: white;
    border-color: #ed660b;
}

.blogs .card-title {
    font-weight: bold;
}

.blogs .card span {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 13px;
    width: 130px;
    font-size: 12px;
    padding: 7px 0px;
    background-color: #23b8d5;
    color: white;
    border-color: #23b8d5;
    border-radius: 10px;
}

.blog .card-title {
    font-weight: bold;
}

.blog .card span {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 0px;
    right: 13px;
    width: 130px;
    font-size: 12px;
    padding: 5px 0px;
    background-color: #23b8d5;
    color: white;
    border-color: #23b8d5;
    border-radius: 10px;
}

.pannar {
    background-color: #314c5b;
    color: white;
    padding: 30px;
}

.pannar p {
    margin-top: 10px !important;
    font-size: 28px;
    font-weight: bold;
}

.pannar button {
    padding: 10px 20px;
    margin-top: 10px !important;
    border: 3px solid white;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    margin: auto;
    display: block;
}

.service {
    padding: 40px;
}

.service-div {
    border-radius: 20px;
    border: .2px solid #314c5b;
}

.service img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.service h2 {
    font-size: 18px;
}

.blogs {
    padding: 40px;
}

.blogs img {
    width: 100%;
    height: 250px;

}

.blogs h2 {
    font-size: 22px;
}

.blogs a {
    font-size: 13px;
    margin-top: 10px;
    display: block;
    margin-bottom: 25px;
}

.blogs p {
    color: #777;
    font-size: 13px;
    line-height: 25px;
    margin-top: 18px;
    margin-bottom: 15px;
}

.contact span {
    color: #314c5b;
    font-weight: bold;
}

.contact p {
    font-weight: bold;
}

.contact-div {
    background-color: #314c5b;
    color: white !important;
    padding: 40px;
    border-radius: 5px;
}

.contact-div i {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-div a {
    color: white;
}

.contact-form {
    padding: 40px;
}

.contact-form .container {
    background-color: #F7F7F7;
}

.contact-form img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-submit {
    background-color: #1e2d3b;
    color: #ffffff;
}

.btn-submit:hover {
    background-color: #16222e;
    color: #ffffff;
}

.contact-form label {
    font-weight: bold;
    font-size: 13px;
}

.contact-form input::placeholder {
    font-weight: bold;
    font-size: 12px;
}

.contact-form input {
    border: 0;
    padding: 10px;
}

.contact-form form {
    margin-top: 70px;
}

.details-service h2 {
    font-size: 25px;
    font-weight: bold;
}

.details-service img {
    border-radius: 20px;
}

.details-service p {
    font-size: 15px;
    line-height: 30px;
}

.content {
    margin-top: 70px;
}

.content h2 {
    font-size: 25px;
    font-weight: bold;
}

.content p {
    font-size: 15px;
    line-height: 30px;
}

.content li {
    margin-bottom: 20px;
}

.content a {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #314c5b;
}

.content i {
    color: #314c5b;
    font-size: 25px;
    margin-left: 10px;
}

.content img {
    border-radius: 20px;
}

.blog-div img {
    height: 90px;
    border: 0;
    border-radius: 0;
}

.blog-div h3 {
    font-size: 15px;
    font-weight: bold;
}

.blog-div span {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}















.footer-section {
    background-color: #F7F7F7;
    padding: 70px 20px;
    color: black !important;
}

.footer-section h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black !important;
}

.footer-section p {
    margin: 0;
    line-height: 1.8;
    color: black !important;
}

.footer-section .contact-info i,
.footer-section .branch-info i {
    color: #314c5b;
    margin-left: 10px;
    margin-bottom: 30px;
}

.footer-section .contact-info a {
    font-size: 17px;
    font-weight: bold;
}

.footer-section .logo img {
    width: 100%;
    height: 150px;
    border-radius: 50%;
}

.footer-section a {
    color: black !important;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.list-unstyled li {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
}

.list-unstyled {
    padding: 0;
}

.details img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.partner img {
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .slider .title {

        left: 33%;
    }

    .blogs .card {
        margin: auto;
    }

    .navbar-collapse {
        background-color: white;
    }

    .slider .title-doc {
        position: absolute;
        left: 0;
        right: 12%;
        top: 23%;
        width: 87%;
    }

    .about-us {
        overflow-x: hidden;
        height: 100%;
    }

    .position-top {
        margin-top: 0;
        /* z-index: 9; */
        position: unset;
        /* left: 0;
        right: 0; */
        background-color: white;
        border-radius: 20px;
    }

    .about-us-3 img {
        margin-right: 0;
    }

    .about-us .container {
        padding: 0 !important;
    }

    .service {
        padding: 0 !important;
    }

    .about-us-page {
        padding: 0;
        height: 100%;
    }
}