.footer {
    background-color: #031d09;
    padding: 70px 0 0;
  }
  
  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
  }
  
  .footer .container .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
  }
  
  .footer .container .box .social {
    display: flex;
  }
  
  .footer .container .box .social li {
    margin-right: 10px;
  }
  
  .footer .container .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  
  .footer .container .box .social li a.facebook:hover {
    background-color: #1877f2;
  }
  
  .footer .container .box .social li a.twitter:hover {
    background-color: #1da1f2;
  }
  
  .footer .container .box .social li a.linkedin:hover {
    background-color: #0a66c2;
  }
  
  .footer .container .box .social li a.instagram:hover {
    background-color: #ed4c5c;
  }
  
  .footer .container .box .text {
    line-height: 2;
    color: #b9b9b9;
  }
  
  .footer .container .box .links li {
    padding: 15px 0;
  }
  
  .footer .container .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  
  .footer .container .box .links li a {
    position: relative;
    color: #b9b9b9;
  }
  
  .footer .container .box .links li:hover a {
    color: white;
  }
  
  .footer .container .box .links li a .lefta {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
  }
  
  .footer .container .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
  }
  
  .footer .container .box .line svg {
    font-size: 25px;
    margin-right: 10px;
  }
  
  .footer .container .box .line .info {
    line-height: 1.7;
    flex: 1;
  }
  
  .footer .container .box .line span {
    display: block;
  }
  
  .footer .container .box .line:hover {
    color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 767px) {
    .footer {
      text-align: center;
    }
  
    .footer .box .social {
      justify-content: center;
    }
  
    .footer .box .line {
      flex-direction: column;
    }
  
    .footer .box .line svg {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  